#baseStats{
	border: double;
}

#subStats{
	border: double;
}
#simSettings{
	border: double;
}
#subStats div{
	border: solid;
}

#maleOutPutbox{
width: 50%;
position: relative;
float: left;
}

#femaleOutPutbox{
width: 50%;
position: relative;
float: right;
}